
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/269/013/original/sound-wave-digital-music-wave-equalizer-abstract-technology-background-vector.jpg);
}
/* Header Start */
.header {
background-color: #fff;
border-radius: 30px;
}
.header_body {
width: 1200px;
margin: 0 auto;
}
.heade_logo {
width: 70px;
border-radius: 100px;
display: inline-block;
margin: 0 0 0 80px;
}
.header_menu {
width: 500px;
margin-left: 150px;
display: inline-block;
margin-top: 30px;
}
.header_menu li {
    display: inline-block;
    margin: 0 50px;
}

.header_menu a {
    font-family: 'Dancing Script', cursive;
    color: #ea1111;
    font-size: 21px;
    font-weight: 600;
    border: 1px solid #000;
    padding: 5px 7px;
    border-radius: 30px;
    border: none;
}
.header_menu a:hover {
    color: #1034c4;
    background-color: #ea1111;
    transition: 0.5s;
}
.header_button {
padding: 15px 30px;
display: inline-block;
margin-left: 150px;
cursor: pointer;
border-radius: 20px;
margin-bottom: 5px;
}
.header_button:hover {
color: #ea1111;
background-color: #000;
transition: 0.5s;
padding: 20px 40px;
}
.my_video {
    margin-top: 100px;
}
.video {
    margin: 0 10px;
    border-radius: 20px;
}
.video_button {
    margin-bottom: 73px;
    padding: 20px 40px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.8s;
}
.video_button:hover {
    background-color: #000;
    color: #a506ef;
    letter-spacing: 0px;
}

/* Main Content */
/* CARD 1 */
.card-1 {
    background: linear-gradient(#000,#ea1111); /* потсавити розмитий background color в форму катрку тощо (градієнт) */
    width: 350px;
    height: 450px;
    display: inline-block; /* щоб об'єкти стали в одну лінію */
    padding-top: 30px; /* внутрішні відступи */
    border-radius: 20px;
    margin-left: 400px;
}
.card-1_img {
    width: 200px;
}
.card-1_name {
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
    font-size: 27px;
}
/* CARD 2 */
.card-2 {
    background: linear-gradient(#000, #a506ef); /* потсавити розмитий background color в форму катрку тощо (градієнт) */
    width: 350px;
    height: 450px;
    display: inline-block; /* щоб об'єкти стали в одну лінію */
    padding-top: 30px; /* внутрішні відступи */
    border-radius: 20px;
    margin-top: 120px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.card-2_img {
    width: 200px;
}
.card-2_name {
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
    font-size: 27px;
}
/* CARD 3 */
.card-3 {
    background: linear-gradient(#000, #f5f7f7, #1034c4);
    width: 350px;
    height: 450px;
    display: inline-block; /* щоб об'єкти стали в одну лінію */
    padding-top: 30px; /* внутрішні відступи */
    border-radius: 20px;
    margin-left: 400px;
    margin-bottom: 200px;
}
.card-3_img {
    width: 200px;
}
.card-3_name {
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
    font-size: 27px;
}
/* CARD 4 */
.card-4 {
    background: linear-gradient(#f3f3f3, #047eea);
    width: 350px;
    height: 450px;
    display: inline-block; /* щоб об'єкти стали в одну лінію */
    padding-top: 30px; /* внутрішні відступи */
    border-radius: 20px;
    margin-left: 50px;
}
.card-4_img {
    width: 200px;
}
.card-4_name {
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
    font-size: 27px;
}

.card-1:hover {
    width: 375px;
    height: 475px;
    transition: 0.5s;
}
.card-2:hover {
    width: 375px;
    height: 475px;
    transition: 0.5s;
}
.card-3:hover {
    width: 375px;
    height: 475px;
    transition: 0.5s;
}
.card-4:hover {
    width: 375px;
    height: 475px;
    transition: 0.5s;
}