
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/269/013/original/sound-wave-digital-music-wave-equalizer-abstract-technology-background-vector.jpg);
}

.card-1 {
    background: linear-gradient(#000,#ea1111); /* потсавити розмитий background color в форму катрку тощо (градієнт) */
    width: 350px;
    height: 450px;
    display: inline-block; /* щоб об'єкти стали в одну лінію */
    padding-top: 30px; /* внутрішні відступи */
    border-radius: 20px;
    margin-left: 400px;
}
.card-1_img {
    width: 200px;
}
.card-1_name {
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
    font-size: 27px;
}
.card-1_music {
}
/* CARD 2 */
.card-2 {
    background: linear-gradient(#000, #a506ef); /* потсавити розмитий background color в форму катрку тощо (градієнт) */
    width: 350px;
    height: 450px;
    display: inline-block; /* щоб об'єкти стали в одну лінію */
    padding-top: 30px; /* внутрішні відступи */
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 300px;
}
.card-2_img {
    width: 200px;
}
.card-2_name {
    font-family: 'Dancing Script', cursive;
    margin: 20px 0;
    font-size: 27px;
}
.card-2_music {
}